<div class="FondoLogo">


  <div class="relative flex items-center justify-center h-screen mb-12 overflow-hidden">
  <div class="relative z-30 p-5 text-4xl text-white bg-slate-600 bg-opacity-75 rounded-xl Attack">"Conocerte es lo mejor que me pudo pasar"</div>
  <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
    <source src="https://cdn.pixabay.com/vimeo/334228230/seoul-23258.mp4?width=2560&expiry=1678061979&hash=e258f4b3104bf50cb1a61e5398802510226497a7" type="video/mp4"/>
</video>
</div>

    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
      <div class="mx-auto max-w-3xl text-center">
        <h1 class="bg-gradient-to-r from-pink-500 via-cyan-200 to-rose-500 bg-clip-text text-8xl font-extrabold text-transparent sm:text-6xl">❤ Aniku ❤
          <span class="sm:block"> Aaaaa </span>
        </h1>

        <p class="mx-auto mt-4 max-w-xl sm:leading-relaxed Love text-red-200 text-3xl"></p>

      </div>
    </div>

    <div class="bg-stone-100">
      <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Miles de millones de usuarios tienen Aniku</h2>
          <p class="mt-4 text-gray-500 sm:text-xl">Únete tú también, registrarse es gratis</p>
        </div>

        <div class="mt-8 sm:mt-12">
          <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
            <div
              class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
              <dt class="order-last text-lg font-medium text-gray-500">Suscripciones Totales</dt>
              <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:text-red-600 transition-colors duration-500">113M €</dd>
            </div>

            <div
              class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
              <dt class="order-last text-lg font-medium text-gray-500">Usuarios</dt>
              <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:text-red-600 transition-colors duration-500">+ 300M</dd>
            </div>

            <div
              class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
              <dt class="order-last text-lg font-medium text-gray-500">Total Nabos</dt>
              <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl hover:text-red-600 transition-colors duration-500">Nabos</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

</div>
