<div class="h-0 bg-gradient-to-r">
  <div class="bg-blue-500 p-4">
    <nav class="flex items-center p-4 ">

      <div class="ml-4 hidden md:block">
        <a [routerLink]="['/inicio-page']" class="text-white hover:text-red-600 transition-colors duration-500 ml-20 text-3xl Beastar">Inicio</a>
        <a [routerLink]="['/login-page']" class="text-white hover:text-red-600 transition-colors duration-500 ml-20 text-3xl Beastar">Registrarse</a>
        <a [routerLink]="['/login-page']" class="text-red-600 hover:text-red-900 transition-colors duration-500 ml-20 text-3xl Beastar">❤ANIKU❤</a>
        <a [routerLink]="['/info-page']" class="text-white hover:text-red-600 transition-colors duration-500 ml-20 text-3xl Beastar">Nosotros</a>
        <a [routerLink]="['/perfil-page']" class="text-white hover:text-red-600 transition-colors duration-500 ml-20 text-3xl Beastar">Perfil</a>
      </div>
      <div>
        <button class="btn btn-primary md:hidden">
          <svg class="fill-current w-4 h-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </nav>

  </div>
</div>


<br><br><br><br>
