<input type="submit" [routerLink]="['/loginPage']" onclick="" class="btn btn-success w-100" value="Volver a inicio de sesión">
<br>
<br>
<select (change)="changePokemons($event)" name="pokemons" id="pokemons">
  <option value="12">Hierba</option>
  <option value="10" selected>Fuego</option>
  <option value="11">Agua</option>
</select>
<br>
<table>
  <br>
  <h1>Pokédex</h1>
  <tr *ngFor="let index of items">
    <td>
      {{index.pokemon.name}}

  </td>
  <td>
    {{index.pokemon.url}}
  </td>
    </tr>
</table>
