<div class="formcontacto">
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Registrarse</label>
        <input type="text" name="txt" placeholder="Nombre*" required>
        <input type="text" name="txt" placeholder="Apellidos">
        <input type="email" name="email" placeholder="Correo*" required>
        <input type="password" name="pswd" placeholder="Contraseña*" required>
        <button>Registrarse</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Iniciar Sesión</label>
        <input type="email" name="email" placeholder="Correo*" required="">
        <input type="password" name="pswd" placeholder="Contraseña*" required="">
        <button>Iniciar Sesión</button>
      </form>
    </div>
</div>
</div>
