table {
    border: 5px solid red;
    width: 90%;
    margin: 20px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

body {
    background-image: url("https://images4.alphacoders.com/125/125916.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
   
    
}


.estiloTabla td {
    font-size: 25px;
    background-color: rgba(136, 158, 11, 0.63);
}

.fondoTR td {
    background-color: rgb(255, 208, 0);
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#imagenDIV {
    float: right;
    display: block;
}

#imagenDIV img {
    width: 400px;
    height: 400px;
}

td {
    border-spacing: 0;
    border: 1px solid #000;
}

input {
    width: 560px;
    height: 20px;
    margin-left: 190px;
    font-size: 30px;
    background-color: rgb(255, 208, 0);
}

table img {
    height: 5em;
    aspect-ratio: 1/1;
}

button {
    background-color: rgb(255, 208, 0);
    border-radius: 12px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}