<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  <div class="bg-white rounded-lg shadow-lg">
    <img src="https://source.unsplash.com/random/400x300" alt="Card Image" class="rounded-t-lg">
    <div class="px-4 py-2">
      <h2 class="text-lg font-bold text-gray-800 Love">Black Otaku</h2>
      <p class="text-gray-700">Black Otaku</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-lg"> + más</button>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-lg">
    <img src="https://source.unsplash.com/random/401x300" alt="Card Image" class="rounded-t-lg">
    <div class="px-4 py-2">
      <h2 class="text-lg font-bold text-gray-800 Love">Otaku Basic</h2>
      <p class="text-gray-700">MARICÓN</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-lg">+ más</button>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-lg">
    <img src="https://source.unsplash.com/random/402x300" alt="Card Image" class="rounded-t-lg">
    <div class="px-4 py-2">
      <h2 class="text-lg font-bold text-gray-800 Love">Metallic Otaku</h2>
      <p class="text-gray-700">MARICÓN</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-lg">+ más</button>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-lg">
    <img src="https://source.unsplash.com/random/403x300" alt="Card Image" class="rounded-t-lg">
    <div class="px-4 py-2">
      <h2 class="text-lg font-bold text-gray-800">MARICONES</h2>
      <p class="text-gray-700">MARICÓN</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-lg">
  Learn More
</button>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-lg">
    <img src="https://source.unsplash.com/random/404x300" alt="Card Image" class="rounded-t-lg">
    <div class="px-4 py-2">
      <h2 class="text-lg font-bold text-gray-800">MARICONES</h2>
      <p class="text-gray-700">MARICÓN</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-lg">
  Learn More
</button>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-lg">
    <img src="https://source.unsplash.com/random/405x300" alt="Card Image" class="rounded-t-lg">
    <div class="px-4 py-2">
      <h2 class="text-lg font-bold text-gray-800">MARICONES</h2>
      <p class="text-gray-700">MARICÓN</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-lg">
  Learn More
</button>
    </div>
  </div>
</div>

<br><br><br><br>
