<br>
<div class="FondoLogo">

  <div class="flex flex-wrap flex-c mx-auto max-w-4xl">
    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">
              Hombre negro con muchos problemas, tiene un lobo de mascota y su padre es un capibara
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota         </p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-sm text-white">Hombre negro con muchos problemas, tiene un lobo de mascota</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
















