<br>
<div class="FondoI">

  <div class="flex flex-wrap flex-c mx-auto max-w-4xl">
    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Cosplayer-Idol</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Andrea Ángel Guerra</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Miley Cyrus es mi madre, me encanta su último álbum</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://fotografias.flooxernow.com/clipping/cmsimages01/2018/10/01/36FC0F5E-540A-4BE5-9F61-9791DA983703/69.jpg?crop=1280,720,x0,y0&width=1280&height=720&optimize=high&format=webply" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Gamer</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Aithor Nado</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div
              class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Eminem como referencia y me encantan los pokemons</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://pbs.twimg.com/media/EVqa0szXYAE4Mx3.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Polcía secreta</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Gambino</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">De pequeño quemaba cosas, ahora ya no</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://img.asmedia.epimg.net/resizer/J-QhmbgrqBe9AsHDCWvyo9DyYqA=/1952x1098/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/VBRIOSJLLJMIFCRDMJBAR26A3U.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Vaquero</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Chuck Norris</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Si la vida te da limones, dáselos a Chuck Norris</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://i.pinimg.com/originals/8e/18/b0/8e18b034a85e7caf67c1a0353ba253e5.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Streamer</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Amouranth Williams</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">El crepúsculo del amor se desvanece en el cielo</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://assets.pikiran-rakyat.com/crop/226x133:767x528/x/photo/2021/05/24/1651147160.png" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Motorista</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Ken Ryuguji</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Prbando probando las cartas</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Prbando probando las cartas</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <a href="#" class="group relative  bg-black max-w-screen-lg mx-auto flex justify-center items-center"><img src="https://www-s.mlo.me/upen/v/2021/202112/20211227/202112271806102424689.jpg" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
        <div class="relative p-4 sm:p-6 lg:p-8 text-center">
          <p class="text-sm font-medium uppercase tracking-widest text-white">Interesado</p>
          <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
          <div class="mt-32 sm:mt-48 lg:mt-64">
            <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
              <p class="text-base text-white">Prbando probando las cartas</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
















